.spinnerContainer {
  grid-column: 1 / -1; 
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 60vh;
}

.spinner {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  
  border: 4px solid rgba(124, 58, 237, 0.1); 
  
  border-left-color: #7c3aed; 
  
  animation: spin 1s cubic-bezier(0.55, 0.055, 0.675, 0.19) infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}