.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  /* background-color: var(--color-background);  */
  margin-bottom: var(--spacing-xl);
  padding-bottom: var(--spacing-md);
  border-bottom: 1px solid var(--color-border);
  z-index: 100;

  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(18px);
  
  border-bottom: 1px solid var(--color-border);
}

.header h1 {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--color-text-main);
}


.logoCircle {
  width: 40px;
  height: 40px;
  background: var(--brand-gradient);
  border-radius: var(--radius-full);
}

.brand {
  display: flex;
  align-items: center;
  gap: var(--spacing-md);
}